/* Body Styling */
body {
    background-color: rgb(204, 204, 204);
    text-align: center;
	box-sizing:border-box;
	margin:0px 20px 0px 20px;
	
}

/* Container for Playlist */
.container1 {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
	width:100%;
 
	border:2px solid black;
	 
}

/* Removing Bullet Points */
.container1 ul {
    padding: 0;
}

.container1 ul li {
    list-style-type: none;
    margin: 5px 0;
	 
}

/* Links Styling */
.container1 ul li a {
    text-decoration: none;
    font-size: 18px;
    color: blue;
}

/* Video and Audio Player Containers */
 .player_one{
	 
 }

/* Video and Audio Styling */
video, audio {
    width: 90%;
	padding:20px;
     
}
.container2{
	padding:5px;
	background-color: rgb(255, 255, 255);
	border:2px solid black;
	border-radius:10px;
	width:80%;
	box-sizing:border-box;
	margin:0 auto;
	 
	
}
